<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{bebederoID}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="resenas.length">
    <h3>Reseñas</h3>
    <ion-list *ngFor="let resena of resenas">
      <ion-card [routerLink]="['/resenas/update', resena.ID]">
        <ion-card-header>
          <ion-card-title>
            <span *ngIf="resena.fecha == currentDate">
              {{resena.hora}}
            </span>
            <span *ngIf="resena.fecha != currentDate">
              {{resena.fecha}}
            </span>
          </ion-card-title>
          <ion-card-subtitle>{{resena.autor}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{resena.resena}}</ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <div *ngIf="resenas.length == 0">
    <h3>Aún no hay reseñas</h3>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/resenas/create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
