<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{bebederoID}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="resenas.length">
    <h3>Reseñas</h3>
    <ion-list *ngFor="let resena of resenas">
      <div *ngIf="resena.autor === email">
        <ion-card [routerLink]="['/resenas/update', resena.ID]">
          <ion-card-header>
            <ion-card-title>
              <span *ngIf="resena.fecha == currentDate">
                {{resena.hora}}
              </span>
              <span *ngIf="resena.fecha != currentDate">
                {{resena.fecha}}
              </span>
            </ion-card-title>
              <div *ngIf="resena.autor === email">
                <ion-card-subtitle>You</ion-card-subtitle>
              </div>
              <div *ngIf="resena.autor != email">
                <ion-card-subtitle>{{resena.autor}}</ion-card-subtitle>
              </div>
          </ion-card-header>
          <ion-card-content>{{resena.resena}}</ion-card-content>
        </ion-card>
      </div>
      <div *ngIf="resena.autor != email">
        <ion-card >
          <ion-card-header>
            <ion-card-title>
              <span *ngIf="resena.fecha == currentDate">
                {{resena.hora}}
              </span>
              <span *ngIf="resena.fecha != currentDate">
                {{resena.fecha}}
              </span>
            </ion-card-title>
              <div *ngIf="resena.autor === email">
                <ion-card-subtitle>You</ion-card-subtitle>
              </div>
              <div *ngIf="resena.autor != email">
                <ion-card-subtitle>{{resena.autor}}</ion-card-subtitle>
              </div>
          </ion-card-header>
          <ion-card-content>{{resena.resena}}</ion-card-content>
        </ion-card>
      </div>
    </ion-list>
  </div>
  <div *ngIf="resenas.length == 0">
    <h3>Aún no hay reseñas</h3>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/resenas/create', bebederoID]">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
