<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar reseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" novalidate (ngSubmit)="saveChanges()">
    <ion-list>
      <ion-item>
        <ion-textarea 
          label="Reseña" 
          labelPlacement="stacked"
          ngModel="{{resena.resena}}"
          formControlName="resena"
          [autoGrow]="true"
        ></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button
          shape="round"
          expand="block"
          color="success"
          fill="outline"
          type="submit"
        >
          Guardar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          shape="round"
          expand="block"
          color="danger"
          fill="outline"
          [routerLink]="['/bebedero', resena.bebedero]"
        >
          Cancelar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
