<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        type="button"
        expand="block"
        fill="outline"
        shape="round"
        (click)="logout()"
      >
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <!-- <div class="card" *ngFor="let bebedero of bebederosList">
      <ion-card routerLink="#">
        <ion-card-header>
          <ion-card-title>
            {{bebedero.Facultad}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{bebedero.Ubicacion}}
        </ion-card-content>
      </ion-card>
    </div> -->

    <div class="card" *ngFor="let facultad of facultadesList">
      <ion-card routerLink="#">
        <ion-card-header>
          <ion-card-title>
            {{facultad.nombre}}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
